.mat-card {
  // width: 500px;
  // margin-left: 31%;
  // margin-top: 80px;
  // position: absolute;
  height: 100%;

  
   
    // margin-top: 5%;
    // margin-left: 350px;
    // border: 3px solid black;//
    // padding: 5px; //
    // margin-bottom: 0%;
    // position : absolute;
    // height: 100%;
    // width: 100%;
    // max-width: 500px;
    
  }
  

  .header-image {
    background-image: url("../../../assets/logo.png");
    background-repeat: no-repeat;     //important
    background-size:contain;
  }
//   .reg-input-name {
//     // margin-right: 20px;
// }
// .reg-input {
//   // width: 100%;
// }
//   .register-container{
//     // display: flex;
//     // flex-direction: column;
//   }
//   .name-container > * {
//   //  width : 100%;
//     }

//   // .email-container {
//   //   display: flex;
//   //   flex-direction: column;
//   // }
  
//   .email-container > * {
//     // width: 100%;
//   }
  