.mat-card-note {
    width: 40%;
    margin-top: 7%;
    border-radius: 15px;
    // position: fixed;
}

.take-note-input {
    outline: none;
    border: transparent;
}

.text-area {
    outline: none;
    overflow: auto;
    width: 85%;
    border: transparent;
    resize: none;
}

.label-cross{
    transform:scale(0.7);
}

.label-chip{
    .label-cross{
        opacity:0;
    }
    &:hover{
        .label-cross{
            opacity:1;
        }
    }
    opacity: 0.80;
    &:hover {
        opacity:1;
    }
    filter:brightness(75%);
}
.checklist{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.visiblez{
    cursor: pointer;
    opacity: 0;    
    background: transparent;
    &:hover{        
            opacity:1;
    }
}
.placeholder{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;

}