.mat-card {
    border: 3px solid black;
    // display: flex;
    // flex-flow: column;
    // padding: 100px;
    // width: 500px;
    // margin-left: 31%;
    // margin-top: 80px;
    // position: absolute;
    // border: 3px solid #000000
    // background-color royalblue
}
.header-image {
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;     //important
    background-size:contain}
    