<body style="background-color:blanchedalmond;" fxFlex="100" fxLayout="column" fxLayoutAlign = "space-around center">  
<mat-card class="mat-card" fxFlex="75" fxLayout="column" fxLayoutAlign = "space-around center">

<div id="flexcontainer"fxLayout='column' fxLayout.sm="column" fxLayout.xs="column" >


  <div class="flexitem one" fxLayout="column" fxLayoutAlign = "space-around center">
    <mat-card-header fxFlex="100">
      <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="forget-title" fxLayout="column" fxFlex=60 >FORGOT PASSWORD PAGE</mat-card-title>
         <mat-card-subtitle>ENTER YOUR CREDENTIALS</mat-card-subtitle>
       </mat-card-header>
       
       <mat-form-field appearance="outline" class="reg-input">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" name="email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
      </div>

  </div>
  <mat-card-actions fxLayout='row' fxLayout.sm="column" fxLayout.xs="column"  >
   <button mat-raised-button color="primary" routerLink="/reset" style="margin:0.625rem" > SEND REQUEST </button>
   <button mat-raised-button color="primary" routerLink="/register" style="margin:0.625rem" >BACK TO REGISTRATION PAGE?</button>
  </mat-card-actions>

</mat-card>
</body>



